<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.postgresql.Driver"/>
        <property name="url" value="jdbc:postgresql://localhost:5432/postgres"/>
        <property name="username" value="postgres"/>
        <property name="password" value="1"/>
    </bean>

    <bean id="namedParameterJdbcTemplate" class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate">
        <constructor-arg type="javax.sql.DataSource" ref="dataSource"/>
    </bean>

    <bean id="ownerDao" class="ru.itis.dao.OwnerDaoImpl">
        <constructor-arg ref="namedParameterJdbcTemplate"/>
    </bean>

    <bean id="carDao" class="ru.itis.dao.CarDaoImpl">
        <constructor-arg ref="namedParameterJdbcTemplate"/>
    </bean>

    <bean id="ownerService" class="ru.itis.services.OwnerServiceImpl">
        <constructor-arg ref="ownerDao"/>
    </bean>

    <bean id="carService" class="ru.itis.services.CarServiceImpl">
        <constructor-arg ref="carDao"/>
    </bean>

</beans>